{% extends "base.html" %}

{% block title %}Folded - About{% endblock title %}

{% block content %}
<div class="main-container">
            <section class="page-title page-title-4 bg-secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="uppercase mb0">About Washd</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <ol class="breadcrumb breadcrumb-2">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li class="active">About</li>
                            </ol>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                          About Text Here...
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <hr class="mb0">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h5 class="uppercase">
                                <strong>Life At Washd</strong>
                            </h5>
                        </div>
                        <div class="col-md-9">
                            <div class="instafeed grid-gallery" data-user-name="washdapp">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
  </div>
{% endblock content %}
