{% load staticfiles i18n %}
<div class="nav-container">
  <a id="top"></a>
  <nav>
    <div class="nav-bar">
      <div class="module left">
        <a href="/">
          <img class="logo logo-light" alt="Folded" src="{% static 'img/logo-light.png' %}"/>
          <img class="logo logo-dark" alt="Folded" src="{% static 'img/logo-dark.png' %}"/>
        </a>
      </div>
      <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
        <i class="ti-menu"></i>
      </div>
      <div class="module-group right">
        <div class="module left">
          <ul class="menu">
            <!-- <li>
                <a href="#">
                    Find a City
                </a>
            </li> -->
            <li>
              <a href="/help">
                Help
              </a>
            </li>
            <li>
              <a href="/login">
                Sign In
              </a>
            </li>
            <li>
              <a class="btn btn-sm home-register" href="/signup">Register</a>
            </li>
          </ul>
        </div>
      </div>
      <!--end of module group-->
    </div>
  </nav>
</div>
